.row {
  width: 100%;
  min-width: 0;
}

.actionIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  font-size: var(--mantine-font-size-lg);
  color: var(--mantine-color-indigo-4);
}
