.code {
  background-color: var(--mantine-color-dark-7);
  height: 100%;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.code::-webkit-scrollbar {
  display: none;
}

.codeRoot {
  border-radius: 0;
  background: transparent;
}

.codePre {
  padding: var(--mantine-spacing-sm);
}

.codePre code {
  font-size: 9px;
  overflow: hidden;
  width: 100%;
}
