.code {
  background-color: var(--mantine-color-dark-7);
  height: 100%;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.code::-webkit-scrollbar {
  display: none;
}

.codeRoot {
  border-radius: 0;
  background: transparent;
}

.codePre {
  font-size: 8px;
  line-height: 1.4;
  padding: var(--mantine-spacing-sm);
}
