.hints {
  padding: var(--mantine-spacing-sm);
  flex-shrink: 0;
}

.kbd {
  font-family: var(--mantine-font-family-monospace);
  font-size: 11px;
  line-height: 1;
  padding: calc(var(--mantine-spacing-xs) * 0.4)
    calc(var(--mantine-spacing-xs) * 0.6);
  border: 1px solid var(--mantine-color-dark-5);
  border-bottom-width: 2px;
  border-radius: var(--mantine-radius-sm);
  background-color: var(--mantine-color-dark-6);
  color: var(--mantine-color-dark-1);
}
