.link {
  color: var(--mantine-color-dark-2);
  font-size: var(--mantine-font-size-md);
  font-weight: 500;
}

.link:hover {
  color: var(--mantine-color-dark-0);
  text-decoration: none;
}

.current {
  color: var(--mantine-color-dark-0);
  font-size: var(--mantine-font-size-md);
  font-weight: 600;
}

.separator {
  color: var(--mantine-color-dark-4);
  flex-shrink: 0;
}
