.container {
  height: 100vh;
  display: grid;
  overflow: hidden;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 'sidebar workspace';
}

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid var(--mantine-color-dark-9);
}

.workspace {
  grid-area: workspace;
  overflow-y: auto;
}
