.container {
  background-color: var(--mantine-color-dark-7);
  height: 100vh;
  display: grid;
  overflow: hidden;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 'sidebar workspace';
}

.sidebar {
  border-right: 1px solid var(--mantine-color-dark-6);
  background-color: var(--mantine-color-dark-7);
  grid-area: sidebar;
  overflow: hidden;
}

.workspace {
  grid-area: workspace;
  overflow-y: auto;
}
